<div *ngFor="let s of sizes" class="{{s.css + ' ' + (prefix + s.id) }}">
<div *ngIf="user" class="container">
  <div class="row no-gutters">
    <div *ngIf="!sizeBoolean || showHeaderMsg && !showBodyMsg" class="col-md-4 border-right">
      <div class="settings-tray">
        <img class="profile-image" [src]="user.photo" alt="Profile img">
        <span class="settings-tray--right">
          <!-- <h6>{{user.username}}</h6> -->
          <i class="fa fa-refresh" aria-hidden="true"></i>
          <i class="material-icons">message</i>
          <i class="material-icons">menu</i>
        </span>
      </div>
      <div class="search-box">
        <div class="input-wrapper">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input [(ngModel)]="searchTerm" (ngModelChange)= "search()" placeholder="Search here" type="text">
        </div>
      </div>
      <div id='data-list-container'>
        <div *ngFor="let value of allUsers" class="friend-drawer friend-drawer--onhover" (click)="test(value, true)">
          <img class="profile-image" [src]="value.photo" alt="">
          <div class="text">
            <h6>{{value.username}}</h6>
            <p class="text-muted">Hey, you're arrested!</p>
          </div>
          <span class="time text-muted small">13:21</span>
        </div>
      </div>
      <hr>
    </div>
    <div *ngIf="showBodyMsg || size != 0" class="col-md-8">
      <div  class="settings-tray">
        <div *ngFor="let test of itemUserSelected" class="friend-drawer no-gutters friend-drawer--grey">
          <span *ngIf="size == 0" (click)="goBackMail(true)" class="settings-tray--right test">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </span>
          <img class="profile-image" [src]="test.photo" alt="">
          <div class="text">
            <h6>{{test.name}}</h6>
          </div>
          <span class="settings-tray--right">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <i class="material-icons">menu</i>
          </span>
        </div>
      </div>
      <div style="max-height: 74vh; height: 74vh;" class="chat-content">
        <div class="chat-panel">
          <div *ngIf="this.getMessages.length > 0" class="message-content">
            <div *ngFor="let msg of getMessages | orderBy:'timeNow'" class="row no-gutters">
              <div [ngClass]="(msg.isUserSigned)?'col-md-3 offset-md-9':'col-md-3 '">
                <div [ngClass]="(msg.isUserSigned)?' chat-bubble chat-bubble--right max-left-msg-right':'chat-bubble chat-bubble--left max-left-msg'">
                  {{msg.message}}
                  <span class="text-right text-clock">{{msg.timeNow | date: 'hh:mm a'}}</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="this.getMessages.length == 0">
            <h1>Please start a new message </h1>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
          <div class="col-12">
            <div class="chat-box-tray">
              <i class="fa fa-smile-o" aria-hidden="true"></i>
              <input type="text" (keydown.enter)="sendMessage($event.target.value)" [(ngModel)]="message" placeholder="Type your message here...">
              <i class="fa fa-microphone" aria-hidden="true"></i>
              <a class="btn" (click)="sendMessage(message)"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>