<div *ngFor="let s of sizes" class="{{s.css + ' ' + (prefix + s.id) }}"></div>
<div *ngIf="authService.loggedIn()">
  <div *ngIf="user" class="container-fluid">
    <div class="row no-gutters">
        <div *ngIf="!sizeBoolean || showHeaderMsg && !showBodyMsg" class="col-md-4 border-right">
            <div class="settings-tray">
              <img class="profile-image" [src]="user.photo" alt="Profile img">
              <span class="settings-tray--right">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                <i class="material-icons">message</i>
                <i class="material-icons">menu</i>
              </span>
            </div>
            <div class="search-box">
              <div class="input-wrapper">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="search" [(ngModel)]="searchTerm" (ngModelChange)= "search()" placeholder="Search here" type="text">
              </div>
            </div>
            <div id='data-list-container'>
              <div *ngFor="let value of allUsers" class="friend-drawer friend-drawer--onhover" (click)="selectUserClick(value, true)">
                <img class="profile-image" [src]="value.photo" alt="">
                <div class="text">
                  <h6>{{value.username}}</h6>
                  <div *ngFor="let item of value.lastMessage">
                    <span *ngIf='value' class="time-small">{{item.date | date:'shortTime'}}</span>
                     <p class="message-text-left">{{item.message}}</p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <div *ngIf="showBodyMsg || size != 0 && size != 1" class="chat-window col-xs-5 col-md-8">
            <div class="col-xs-12 col-md-12">
                <div class="panel">
                    <div *ngFor="let item of itemUserSelected" class="friend-drawers no-gutters panel-heading chat-top-bar">
                      <div class="row no-gutters">
                        <div class="col-md-9">
                          <span *ngIf="size == 0 || size == 1" (click)="goBackMail(true)" class="settings-tray--right test">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                          </span>
                          <img class="profile-image" [src]="item.photo" alt="">
                          <div class="text-header">
                            <h6>{{item.username}}</h6>
                            <p>{{writing}}</p>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <span class="settings-tray--right">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            <i class="material-icons">menu</i>
                          </span>
                        </div>
                      </div>
                      </div>
                    <div class="panel-body" style="max-height: 74vh; height: 74vh;">
                        <div class="msg-container-base" *ngIf="messages.length > 0" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                            <div class="row no-gutters msg-container" *ngFor="let usermessage of messages | orderBy:'date'">
                                <div [ngClass]="(usermessage.selfAuthored)?'col-md-3 offset-md-9':'col-md-3 '">
                                  <div [ngClass]="(usermessage.selfAuthored)?' chat-bubble chat-bubble--right max-left-msg-right':'chat-bubble chat-bubble--left max-left-msg'">
                                    {{usermessage.message}}
                                    <span class="text-right text-clock">{{usermessage.date | date:'shortTime'}}</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="start_new_message" *ngIf="messages.length == 0">
                            <h1>Please start a new message </h1>
                        </div>
                        <p>{{actions}}</p>
                        <div class="chat-bottom-bar">
                            <form style="display: inherit;" (ngSubmit)="sendMessage()" action="">
                                <div class="input-group">
                                  <span class="smiley">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="currentColor"
                                          d="M9.153 11.603c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962zm-3.204 1.362c-.026-.307-.131 5.218 6.063 5.551 6.066-.25 6.066-5.551 6.066-5.551-6.078 1.416-12.129 0-12.129 0zm11.363 1.108s-.669 1.959-5.051 1.959c-3.505 0-5.388-1.164-5.607-1.959 0 0 5.912 1.055 10.658 0zM11.804 1.011C5.609 1.011.978 6.033.978 12.228s4.826 10.761 11.021 10.761S23.02 18.423 23.02 12.228c.001-6.195-5.021-11.217-11.216-11.217zM12 21.354c-5.273 0-9.381-3.886-9.381-9.159s3.942-9.548 9.215-9.548 9.548 4.275 9.548 9.548c-.001 5.272-4.109 9.159-9.382 9.159zm3.108-9.751c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962z">
                                        </path>
                                      </svg>
                                  </span>
                                  
                                  <input id="messageText" type="text" class="form-control input-sm chat-input" (keyup.enter)="onEnter($event)" (ngModelChange)="typing(messageText)" placeholder="Enter message" [(ngModel)]="messageText" name="messageText">
                                    <span class="input-group-btn"></span>
                                    <input type="submit" class="btn btn-sm chat-submit-button" value="Send">
    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script src="/socket.io/socket.io.js"></script>