<div *ngIf="user" class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-3"><!--left col-->
      <div class="text-center">
        <img [src]="user.photo" class="avatar img-circle img-thumbnail" alt="avatar">
        <!-- <input type="file" class="text-center center-block file-upload"> -->
      </div>
    </div><!--/col-3-->
    <div class="col-sm-9">
        <div class="tab-content">
          <div class="tab-pane active">
              <form class="form" (ngSubmit)="updateUserDetails(user)">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="first_name"><h4>Name</h4></label>
                            <input type="text" class="form-control" name="first_name" [(ngModel)]="user.name" placeholder="first name" title="enter your first name if any.">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="col-xs-6">
                          <label for="username"><h4>Username </h4></label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="user.username" placeholder="last name" title="enter your last name if any.">
                        </div>
                    </div>
        
                    <div class="form-group">
                        
                        <div class="col-xs-6">
                            <label for="phone"><h4>Phone</h4></label>
                            <input type="text" class="form-control" name="phone" [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}" placeholder="enter phone" title="enter your phone number if any.">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="col-xs-6">
                            <label for="email"><h4>Email</h4></label>
                            <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="you@email.com" title="enter your email.">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="col-xs-6">
                            <label for="address"><h4>Address</h4></label>
                            <input type="email" class="form-control" [(ngModel)]="user.address" [ngModelOptions]="{standalone: true}" placeholder="somewhere" title="enter a location">
                        </div>
                    </div>
                   
                    <div class="form-group">
                         <div class="col-xs-12">
                              <br>
                              <button class="btn btn-lg btn-success"  type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                          </div>
                    </div>
              </form>
           </div><!--/tab-pane-->
             
        </div><!--/tab-pane-->
    </div><!--/tab-content-->
  </div>
</div><!--/row-->
                    