<!-- <div *ngIf="!authService.loggedIn()">
    <router-outlet></router-outlet>
</div> -->
<div class="test">
  <div>
    <div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar">
          <div *ngIf="authService.loggedIn()" class="sidebar-header">
              <div *ngIf="user">
                <h3><span>Welcome</span> {{user.name}}</h3>
              </div>
          </div>

          <ul class="list-unstyled components">
              <p *ngIf="authService.loggedIn()">
                <!-- <button class="btn btn-primary article" [routerLink]="['/dashboard']">Dashboard</button> -->
                <button class="btn btn-primary btn-lg article" (click)="goDashboard()">Dashboard</button>
              </p>
              <li class="active">
                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                            <a class="nav-link" [routerLink]="['/profile']">Profile </a>
                      </li>
                      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                        <a class="nav-link" [routerLink]="['/settings']">Create</a>
                      </li>
                      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                        <a class="nav-link" [routerLink]="['/settings']">Settings</a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="#">About</a>
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                      <li>
                          <a href="#">Page 1</a>
                      </li>
                      <li>
                          <a href="#">Page 2</a>
                      </li>
                      <li>
                          <a href="#">Page 3</a>
                      </li>
                  </ul>
              </li>
              <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                  <a class="nav-link" [routerLink]="['/mailbox']">Mailbox</a>
              </li>
              <li>
                  <a href="#">Contact</a>
              </li>
          </ul>

          <ul class="list-unstyled CTAs">
              <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                  <a class="nav-link" [routerLink]="['/login']" class="download">Login</a>
              </li>
              <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                  <a class="nav-link article" (click)="openModel()">Logout</a>
              </li>
          </ul>
      </nav>

      <!-- Page Content Holder -->
      <div id="content">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">

                  <button type="button" id="sidebarCollapse" class="navbar-btn">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>
                  <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="fa fa-align-justify"></i>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="nav navbar-nav ml-auto">
                          <li class="nav-item active" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                              <a class="nav-link" [routerLink]="['/mailbox']">Mailbox</a>
                          </li>
                          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                              <a class="nav-link" [routerLink]="['/mailbox']">Notification</a>
                          </li>
                          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                              <a class="nav-link" [routerLink]="['/settings']">Settings</a>
                          </li>
                          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                              <a class="nav-link" (click)="openModel()">Logout</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
          <router-outlet></router-outlet>
          <flash-messages></flash-messages>
      </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title ">Exit {{user? user.name: ''}}</h5>
              <button type="button" class="close" (click)="closeModel(false)">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want exit?.</p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeModel(true)" class="btn btn-primary">Exit</button>
                <button type="button" (click)="closeModel(false)" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
          </div>
        </div>
      </div>
</div>  
</div>
